@import "./themes/terminal.scss";

@font-face {
    font-family: "8-Bit";
    src: local("8-Bit"), url(../fonts/8-Bit.ttf) format("truetype");
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
}

body, #root, #Launcher, #Game, .choose-game {
    min-height: 100vh;
}

#GameOver, #GameWon, #StartMenu, #Room {
    padding: 2rem;
}

#Room, #GameOver, #GameWon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Launcher {
    position: relative;
    background: url("../images/subtle-dots.png");
    color: #fff;
    font-family: "8-Bit";

    &:before {
        content: "";
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: radial-gradient(circle, #150b28, #180f30, #1c1137, #21133f, #261447);
        opacity: 1;
        z-index: -100
    }
}

.title {
    text-align: center;
    &.main {
        font-size: 25rem;
        margin: 0.75rem 0;
    }
    &.tagline {
        font-size: 5.5rem;
        margin-top: -5.5rem;
    }
    &.landing {
        font-size: 8.5rem;
    }
}

.room-message {
    font-size: 4.5rem;
    text-align: center;
}

.choice {
    font-size: 2rem;
    z-index: 999999;
    cursor: pointer;
}

.choose-game {
    max-width: 900px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .logo {
        min-height: 200px;;
    }
    .game-selection {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        padding: 0rem 1rem;
        .games {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
        }
    }
    .footer {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        // color: #F706CF;
        color: #2DE2E6;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
        p {
            margin-bottom: 0;
            line-height: 2.5rem;
        }
    }
}

.game-case {
    display:flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    .choice {
        margin: 0 auto;
        width: 50%;
        &.hover {
            color: #F706CF;
        }
    }
    img {
        height: 150px;
        width: 150px;
        border: solid 1px #2E2157;
        box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        &.hover {
            border: solid 2px #F706CF;
        }
    }
}

.game-wrapper {
    .options {
        padding: 1rem;
        display: flex;
        font-size: 1.25rem;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.header {
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.8);
}